.about-container {
	display: grid;
	grid-template-columns: .5fr 1fr .5fr;
	margin: 0 auto;
	
	padding: 1rem;
	color: black;
	
}

.about-text {
	grid-column: 2;
	text-align: justify;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}

.about-text p {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}