.container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 2rem;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
	color: black;
}

.container a {
	text-decoration: none;
	color: black;
}

.drink-img {
    width: 100%;

}

.drink-img-recipe {
    display: block;
	height: 400px;
    width: 400px;
    margin: auto;

}

.recipe-container {
    margin: 0 auto;
	max-width: 1200px;
	padding: 5rem;

}
.alc img {
	width:200px;
	height: 200px

}

.nonalc img {
	width:200px;

}

.alc  {
	margin: 115px 150px;
}

.nonalc  {
	margin: 115px 100px;
}
.drink-category-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	margin: 0 auto;
	max-width: 1000px;
	padding: 1rem;
	color: black;
}

.drink-category-container a {
	color:black;
}