//Stying for the Home Page
.home a {
	text-decoration: none;
}

.home-cards-area {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 20px auto;
}

.home-card-title {
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	text-align: center;
	color: black;
	margin: auto;
}

.home-card-title-drink {
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	text-align: center;
	color: black;
	margin: auto;
}
.home-card-text {
	text-align: center;
	color: black;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}

.home-card-text :hover{
	color: black;
	text-decoration: none;
	
}

.home-card-img {
	max-width: 250px;
	max-height: 250px;
	margin: auto;
}

.home-card-img-dish {
	max-width: 250px;
	max-height: 250px;
	margin: 0;
}

.home-image-div {
	display: flex;
	justify-content: center;
}
.home-image {
	width: 50vw;
	text-align: center;
	margin: 40px auto;
}
