//Stying for the Home Page

// .home {
// 	display: grid;
// 	// grid-template-columns: 1fr 1fr 1fr;
// 	// grid-template-rows: .75fr 1fr;
// 	grid-template-columns: repeat(auto-fit, 250px);
// 	grid-gap: 1rem;
// 	margin: auto;
// 	max-width: 1200px;
// 	padding: 1rem;
// 	align-content: center;
// 	justify-items: center;
// 	padding-bottom: 5rem;
// }


.home-cards-area {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 20px auto;

}

.home-card-title {
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	text-align: center;
	padding: 0 37px 0 0;
	color: black;
	margin: auto;
}

.home-card-title-drink {
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	text-align: center;
	color: black;
	margin: auto;
}
.home-card-text {
	text-align: center;
	color: black;
}

.home-card-img {
	max-width: 200px;
	max-height: 200px;
	margin: auto;
}

.home-card-img-dish {
	max-width: 200px;
	max-height: 200px;
	margin: 0;
}
.dish-card {
	grid-row: 1;
	grid-column: 1;
}

.drink-card {
	grid-row: 1;
	grid-column: 2;
}

.dialogue-card {
	grid-row: 1;
	grid-column: 3;
}


.home-image-div{
display: flex;
justify-content: center;

}
.home-image {
	width: 70vw;
	text-align: center;
	margin: 40px auto;

}
