.testimonial-container {
	display: grid;
	grid-template-columns: .5fr 1fr .5fr;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
	color: black;
}

.testimonial-text {
	grid-column: 2;
	text-align: justify;
}