$theme-colors: (
	'primary': #b2c2c4,
	'danger': teal,
);

@import '~bootstrap/scss/bootstrap.scss';

/* Make the root element at least as big as the page. */
html,
body,
#root {
	height: 100%;
}
/* 
Give some padding to the header, main and footer elements
if they are direct children of the #root element.
*/

#root > header,
#root > main,
#root > footer {
	padding: 1rem;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;

}

//Styling for the header

header {
	display: flex;
	flex-direction: row; // items go left to right
	justify-content: space-between; //items are evenly distributed in the line; first item is on the start line, last item on the end line
	align-items: center; //this is aligning them in the vertical center
	color: black;
}

header h1 {
	font-family: 'Sacramento', cursive;
	margin: 0;
	padding: 0.5rem;
	color: black;
}

header nav a {
	display: inline-block;
	text-decoration: none;
	color: black;
	font-family: 'Montserrat', sans-serif;
	padding: 0.5rem 1rem;
	transition: all 300ms ease;
}

header nav a:hover {
	background-color: #ddd;
	color: #222;
	text-decoration: underline;
}

header a:hover {
	text-decoration: none;
}

//Styling for the Footer
footer {
	color: gray;
	font-size: 12px;
}

//Stying for the Home Page

.home {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 1rem;
	margin: auto;
	max-width: 1200px;
	padding: 1rem;
	align-content: center;
	justify-items: center;
}


.home-card-title {
	font-family: 'Sacramento', cursive;
	font-size: 30px;
	text-align: center;
	padding: 0 37px 0 0;
	color: black;
}

.home-card-title-drink {
	font-family: 'Sacramento', cursive;
	font-size: 30px;
	text-align: center;
	color: black;
	
}
.home-card-text {
	text-align: center;
	color: black;
}

.home-card-img {
	max-width: 200px;
	max-height: 200px;
	margin: auto;
}

.home-card-img-dish {
	max-width: 200px;
	max-height: 200px;
	margin: 0;
	
}
.dish-card {
	grid-row: 1;
	grid-column: 1;
}

.drink-card {
	grid-row: 1;
	grid-column: 2;
}

.dialogue-card {
	grid-row: 1;
	grid-column: 3;
}

.home-image {
	grid-row: 2;
	grid-column: 1 / span 3;
	width: 50vw;
}

.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 1rem;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
	color: black;
}


.card-category h3 {
	color: black;
	font-size: 30px;
}

.card-image {
	height: auto;
	width: auto;
}
.card-title {
	font-size: 30px;
	color: black;
	//background-color: #276074;
	margin: 0;
	padding: 1rem;
	text-align: center;
}

.card-text {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.dialogue-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr 1fr;
	grid-gap: 1rem;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
	color: black;
}

.dialogue-title {
	text-align: center;
}
.dialogue-container h3 {
	text-align: center;
	color: black;
}
.dialogue-container h3 a:hover{
	text-decoration: none;

}