// $theme-colors: (
// 	'primary': #b2c2c4,
// 	'danger': teal,
// );

// @import '~bootstrap/scss/bootstrap.scss';

/* Make the root element at least as big as the page. */
html,
body,
#root {
	height: 100%;
}
/* 
Give some padding to the header, main and footer elements
if they are direct children of the #root element.
*/

#root > header,
#root > main,
#root > footer {
	padding: 1rem;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;


}



//Styling for the Footer
footer {
	color: gray;
	font-size: 12px;
}



.card-category h3 {
	color: black;
	font-size: 30px;
}

// .card-image {
// 	height: auto;
// 	width: auto;
// }


// .card-text {
// 	font-family: 'Montserrat', sans-serif;
// 	text-align: center;
// }

.dialogue-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr 1fr;
	grid-gap: 1rem;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
	color: black;
}

.dialogue-title {
	text-align: center;
}
.dialogue-container h3 {
	text-align: center;
	color: black;
}
.dialogue-container h3 a:hover{
	text-decoration: none;

}