h1 {
	text-align: center;
}

.dish-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: minmax(200px, auto);
	grid-gap: 2rem;
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
	color: black;
}

.dish-container img {
	width: 100%;
}
.dish-container h3 {
	color: black;
	
}

.dish-card-title {
	font-size: 25px;
	color: black;
	margin: 0;
	padding: 1rem;
	text-align: center;
}

.recipe-container img {
	width: 400px;

}

.recipe-img {
	text-align: center;


}
